body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }


  /* Page Content */
  .content {padding:20px;}


  .card {
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .container {
    padding: 20px;
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .card-image {
    width: 70%;
    height: auto;
  }

  
  h4 {
    margin-top: 0;
  }
  
  .description {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .price {
    font-weight: bold;
  }
  
  .rating {
    font-size: 18px;
  }
  
  .purchase-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
